[submodule "Java/Java/dio-java-basico"]
	path = Java/Java/dio-java-basico
	url = https://github.com/brunofagundes1/dio-java-basico.git
[submodule "Java/dio-java-basico"]
	path = Java/dio-java-basico
	url = https://github.com/brunofagundes1/dio-java-basico.git
